*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #1e1e1e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body main {
    padding-bottom: 40px;
}
/*  contenedor de grid */

.contenedor {
    width: 100%;
    margin: 10px auto;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3, auto);
    
    grid-template-areas:
      "header           header          header"
      "contenido        contenido       contenido"
      "footer           footer          footer";
}

/*  header */

.contenedor .header {
    grid-area: header; 
    background-image: linear-gradient(to right, white 30%, #000000);
    border-bottom:1px solid #fdb713;
}

.contenedor .header .navbar-brand img{
    width: 40px;
}

.contenedor .header a {
    color: #fdb713;
}

.contenedor .header a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px #fdb713;
}

/*  seccion inicio */

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .contenido .inicio .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedor .contenido .inicio .banner img {
    width: 100%;

}
.contenedor .contenido .inicio .banner .textoInicial {
    color: #fdb713;
    position: absolute;
    text-align: center;
}

/*  aqui trabaje animacion a los titulos */

.contenedor .contenido .titulos {
    text-align: center;

    padding: 80px 10px 40px 10px;
    animation-name: efectoTitulos;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes efectoTitulos {
    0%      {color: #ffffff;}
    40%     {color: #c8001c;}
    80%     {color: #fdb713;}
    100%    {color: #09b617;}
}

.contenedor .contenido .titulos p {
    font-size: 20px;
}

/*  seccion que es */

.contenedor .contenido .queEs {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.contenedor .contenido .queEs .pasos {
    width: 28%;
    text-align: center;
    color: #ffffff;
}
.contenedor .contenido .queEs .pasos .texto-pasos {
    padding-top: 50px;
    padding-bottom: 30px;
}
/*  seccion habitaciones */

.contenedor .contenido .habitaciones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: space-evenly;

}

.contenedor .contenido .habitaciones .rooms {
    width: 40%;
    position: relative;
}

.contenedor .contenido .habitaciones .rooms .room-texto {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 45%;
}

.contenedor .contenido .habitaciones .rooms .room-texto a{
    color: #ffffff;
    text-decoration: none;
}
.contenedor .contenido .habitaciones .rooms .room-texto a:hover{
    color: #fdb713;
}

.contenedor .contenido .habitaciones .rooms img {
    width: 100%;
}

/*  seccion card- */

.contenedor .contenido .contenido-card {
    width: 100%;
    padding-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
}

.contenedor .contenido .contenido-card .imagen img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.6);
}

.contenedor .contenido .contenido-card .detalles h2 {
    text-align: center;
}

.contenedor .contenido .contenido-card .detalles {
    padding-left: 20px;
    text-align: justify;
}

.contenedor .contenido .contenido-card .detalles ul {
    list-style: none;
    padding-left: 0;
}

.contenedor .contenido .contenido-card .detalles svg {
    color: #fdb713;
}

/*  seccion precios */

.contenedor .contenido .precios {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;    
    gap: 20px;
}

.contenedor .contenido .precios img {
    width: 150px;
    border-radius: 50%;
}
.contenedor .contenido .precios .texto-precios {
    padding-top: 50px;
}
.contenedor .contenido .pistas {
    text-align: center;
    padding: 30px 10px 10px 10px;
    font-size: 20px;
}

/*  seccion preguntas frecuentes */

.contenedor .contenido .pregFrecuentes {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        padding: 0px 40px 0px 40px;
        flex-grow: 1;
    
}

.contenedor .contenido .pregFrecuentes .pregunta {
    font-weight: bold;
    font-size: 20px; 
}
.contenedor .contenido .pregFrecuentes .respuesta {
    font-style: italic;
    padding-bottom: 10px;
    text-align: justify;
}

.contenedor .contenido .pregFrecuentes .accordion {
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-color: #ffffff;
    --bs-accordion-bg: #1e1e1e;
    --bs-accordion-btn-focus-border-color: #1e1e1e;
    --bs-accordion-btn-focus-box-shadow: #1e1e1e; 
    --bs-accordion-active-bg: #1e1e1e;
    --bs-accordion-active-color: #fdb713;
}

/*  seccion contacto */

.contenedor .contenido .contacto {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding-bottom: 50px;
}
.contenedor .contenido .contacto .direccion {
    padding: 20px;
}
.contenedor .contenido .contacto .formulario-contacto {
    width: 300px;
    padding: 10px;
    border: 1px solid #fdb713;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    resize: vertical;
    max-height: 250px;
    min-height: 150px;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto select {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border-radius: 5px; 
}


.warnings {
    width: 200px;
    text-align: center;
    margin: auto;
    color: #c8001c;
    padding-top: 20px;
}


/*  seccion formularios para reservas */

.contenedor .contenido .formulario-habitacion{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-left: 30px;
    padding-right: 30px;
}

.contenedor .contenido .formulario-habitacion input, select {
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 30px;
    padding-left: 10px;
}

.contenedor .contenido .formulario-habitacion .guardar-reserva input {
    border-radius: 10px;
    width: 100%;
    height: 40px; 
    margin-bottom: 20px;
    margin-top: 20px;
}

.contenedor .contenido .protocolo-covid {
    text-align: center;
    padding-top: 20px;
}
.contenedor .contenido .protocolo-covid ul {
    text-align: justify;
    padding-bottom: 20px;
    width: 90%;
    padding-left: 10%;
    font-size: 18px;
}

.contenedor .contenido .captacion-datos {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.contenedor .contenido .captacion-datos .formulario-cliente {
    width: 350px;
}

.contenedor .contenido .captacion-datos .formulario-cliente input {
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

/*  seccion pie de pagina */

.contenedor .footer {
    grid-area: footer;
    border-top: 2px solid #fdb713;   
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around; 
    padding-top: 10px;
}

.contenedor .footer .redes-sociales a {
    text-decoration: none;
    list-style: none;
    color: #ffffff;
}

.contenedor .footer .redes-sociales svg {
    color: #fdb713; 
}

.contenedor .footer .redes-sociales , .inf-proyecto h4 {
    text-align: center;

}

.contenedor .footer .inf-proyecto li {
    list-style: none;
}

.contenedor .footer .ubicacion  {
    text-align: center;
}

.contenedor .footer .ubicacion img {
    width: 60px;
    border-radius: 40%;
    box-shadow: 1px 1px 10px 10px  rgb(255 255 255 / 90%);
}




/* medias Querys para pantalla de 767px*/

@media screen and (max-width: 767px) {
    .contenedor .contenido .contenido-card .detalles {
        width: 100%;
        padding-left: 20px;
        padding-top: 20px;
    }

}

/* medias Querys para pantalla de 576px */

@media screen and (max-width: 576px) {

    .contenedor .contenido .queEs .pasos {
        width: 100%;
        text-align: center;
        color: #ffffff;
        padding: 10px;
    }

    .contenedor .contenido .habitaciones .rooms {
        width: 90%;
    }

}