*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    color: #ffffff;
    background-color: #1e1e1e;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*  contenedor de grid */

.contenedor {
    width: 100%;
    margin: 10px auto;

    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(4, auto);
    
    grid-template-areas:
      "header           header          header"
      "contenido        contenido       contenido"
      "aside            aside           aside"
      "footer           footer          footer";
}

/*  header */

.contenedor .header {
    grid-area: header; 
    background-image: linear-gradient(to right, white 30%, #000000);
    border-bottom:1px solid #fdb713;
}

.contenedor .header .navbar-brand img{
    width: 70px;
}

.contenedor .header a {
    color: #fdb713;
}

.contenedor .header a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 1px #fdb713;
}

/*  seccion inicio */

.contenedor .contenido {
    grid-area: contenido;
}

.contenedor .contenido .inicio .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

.contenedor .contenido .inicio .banner img {
    width: 100%;

}
.contenedor .contenido .inicio .banner .textoInicial {
    color: #fdb713;
    position: absolute;
    text-align: center;
}

/*  aqui trabaje animacion a los titulos */

.contenedor .contenido .titulos {
    text-align: center;

    padding: 80px 10px 40px 10px;
    animation-name: efectoTitulos;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes efectoTitulos {
    0%      {color: #ffffff;}
    40%     {color: #c8001c;}
    80%     {color: #fdb713;}
    100%    {color: #09b617;}
}

.contenedor .contenido .titulos p {
    font-size: 20px;
}

/*  seccion que es */

.contenedor .contenido .queEs {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
}

.contenedor .contenido .queEs .pasos {
    width: 28%;
    text-align: center;
    color: #ffffff;
}

/*  seccion habitaciones */

.contenedor .contenido .habitaciones {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: space-evenly;

}

.contenedor .contenido .habitaciones .rooms {
    width: 40%;
    position: relative;
}

.contenedor .contenido .habitaciones .rooms .room-texto {
    position: absolute;
    text-align: center;
    padding: 10px;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    top: 45%;
}

.contenedor .contenido .habitaciones .rooms img {
    width: 100%;
}

/*  seccion precios */

.contenedor .contenido .precios {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;    
    gap: 20px;
}

.contenedor .contenido .pistas {
    text-align: center;
    padding: 60px 10px 10px 10px;
    font-size: 20px;
}

/*  seccion preguntas frecuentes */

.contenedor .contenido .pregFrecuentes {
        width: 100%;
        display: flex;
        flex-flow: column wrap;
        padding: 0px 40px 0px 40px;
        flex-grow: 1;
    
}

.contenedor .contenido .pregFrecuentes .pregunta {
    font-weight: bold;
    font-size: 20px; 
}
.contenedor .contenido .pregFrecuentes .respuesta {
    font-style: italic;
    padding-bottom: 10px;
    text-align: justify;
}

.contenedor .contenido .pregFrecuentes .accordion {
    --bs-accordion-btn-color: #ffffff;
    --bs-accordion-color: #ffffff;
    --bs-accordion-bg: #1e1e1e;
    --bs-accordion-btn-focus-border-color: #1e1e1e;
    --bs-accordion-btn-focus-box-shadow: #1e1e1e; 
    --bs-accordion-active-bg: #1e1e1e;
    --bs-accordion-active-color: #fdb713;
}

/*  seccion contacto */

.contenedor .contenido .contacto {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.contenedor .contenido .contacto .direccion {
    padding: 20px;
}
.contenedor .contenido .contacto .formulario-contacto {
    width: 300px;
    padding: 10px;
    border: 1px solid #fdb713;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto input {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #fdb713;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    resize: vertical;
    max-height: 250px;
    min-height: 150px;
    border: 2px solid #fdb713;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto select {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #fdb713;
    border-radius: 5px; 
}

.contenedor .contenido .contacto .formulario-contacto textarea {
    width: 100%;
    margin-bottom: 10px;
    height: 35px;
    padding-left: 10px;
    border: 2px solid #fdb713;
    border-radius: 5px; 
}
.contenedor .contenido .contacto .formulario-contacto .enviar {
    background-color: #fdb713;
    color: #ffffff;
}


/*  seccion de aside */

.contenedor .aside { grid-area: aside; }


/*  seccion pie de pagina */

.contenedor .footer { grid-area: footer; }
  
/* medias Querys para pantalla de 768px*/

@media screen and (max-width: 768px) {



}

/* medias Querys para pantalla de 576px */

@media screen and (max-width: 576px) {

    .contenedor .contenido .queEs .pasos {
        width: 100%;
        text-align: center;
        color: #ffffff;
        padding: 10px;
    }

    .contenedor .contenido .habitaciones .rooms {
        width: 90%;
    }

}